In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel('C:/Intel/uas/dataset_soal No. 2.xls')

In [4]:
data.head()

  Category  Weather V-1  Holiday V-2  Game V-3  Qty
0        A            5            1         0  250
1        B            3            1         1  200
2        C            1            1         0   75
3        D            4            1         1  400
4        E            4            0         0  150

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Category     6 non-null      object
 1   Weather V-1  6 non-null      int64
 2   Holiday V-2  6 non-null      int64
 3   Game V-3     6 non-null      int64
 4   Qty          6 non-null      int64
dtypes: int64(4), object(1)
memory usage: 368.0+ bytes

In [8]:
x = data.drop(['Qty'], axis = 1)
x.head()

  Category  Weather V-1  Holiday V-2  Game V-3
0        A            5            1         0
1        B            3            1         1
2        C            1            1         0
3        D            4            1         1
4        E            4            0         0